    <header class="sticky-top">
		<!--navigation-------------------------------->
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="files\logos\output-onlinepngtools.png" id="SDOlogo" alt="SDO logo" >
				</a>
	
				<!-- if dimensions are too small for the navbar to be shown it'll be in a button/toggler -->
				<button class="navbar-toggler ms-auto mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  
				  <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
					  <li class="nav-item px-2">
						<a class="nav-link {{#if atHome}}active{{/if}}" href="home">HOME</a>
					  </li>
					  <li class="nav-item px-2">
						<a class="nav-link {{#if atAbout}}active{{/if}}" href="about">ABOUT US</a>
					  </li>
					  <li class="nav-item dropdown px-2">
						<a class="nav-link dropdown-toggle" type='button' data-bs-toggle="dropdown" aria-expanded="false">EVENTS</a>
						<ul class="dropdown-menu">
						  <li class="dropdown-item"><a class="dropdown-link {{#if atExternalEvents}}active{{/if}}" href="externalEvents">EXTERNAL EVENTS</a></li>
						  <li class="dropdown-item"><a class="dropdown-link {{#if atInternalEvents}}active{{/if}}" href="internalEvents">INTERNAL EVENTS</a></li>
						</ul>
					  </li>
					  <li class="nav-item px-2">
						<a class="nav-link {{#if atPartners}}active{{/if}}" href="partners">PARTNERS</a>
					  </li>
					  <li class="nav-item px-2">
						<a class="nav-link {{#if atContact}}active{{/if}}" href="contact">CONTACT US</a>
					  </li>
					</ul>	
					{{#unless adminData}}	  
						{{#if memberData}}
							{{#each memberData}}
							<ul class="nav navbar-nav navbar-right dropdown">
								<div class="dropdown">
									<button class="btn btn-outline-light dropdown-toggle" type="button" id="myProfileButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{this.first_name}}
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
											<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
										</svg>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="myProfileDropdown">
											<a class="dropdown-item" href="/profile">My Profile</a>
											<a class="dropdown-item" href="/logout">Log Out</a>
										</div>
									</button>
								</div>
							</ul>
							{{/each}}
						{{else}}
							<ul class="nav navbar-nav navbar-right">
								<button class="btn btn-outline-light" id="myLogIn">
									<span>Log in</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
										<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
										<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
									</svg>
								</button>
								<div id="myLoginModal" class="modal">
									<div id="myLoginModalContent" class="modal-content py-2 px-4">
										<span class="close">&times;</span>
										<form action="/do-login" method="POST">
											<h3 class="mb-2">Log in</h3>
											<div class="row py-2">
												<input name="email" type="text" class="form-control" id="logInEmail" placeholder="Email" required><br>
											</div>
											<div class="row py-2">
												<input name="password" type="password" class="form-control" id="logInPassword" placeholder="Password" required><br>
											</div>
											<button type="submit" class="btn btn-dark mt-2 mb-4">Submit</button>
											</fieldset>
										</form>
										<div class="row py-2">
											<a href="#" class="pb-2 text-info text-wrap" id="openSignUp"> Don't have an account? Sign up to become a member!</a>
											<a href="#" class="text-secondary">Forgot Password</a>
											<a href="#" class="text-secondary">Remember Password</a>
										</div>
									</div>
								</div>
								<div id="mySignUpModal" class="modal">
									<div id="mySignUpModalContent" class="modal-content py-2 px-4">
										<span class="close">&times;</span>
										<h3>Sign Up</h3>
										<form method="post" action="/home/submit-form">
											<div class="row py-4">
												<div class="col">
													<label for="InputName"><b>Name</b></label>
													<input type="text" class="form-control" id="ApplicationName1" placeholder="Enter your Name" required>
												</div>
												<div class="col">
													<label for="InputSurname"><b>Surname</b></label>
													<input type="text" class="form-control" id="ApplicationSurname1" placeholder="Enter your Surname" required>
												</div>
											</div>
											<div class="row pb-4">
												<div class="col">
													<label for="InputEmail"><b>Email address</b></label>
													<input type="email" class="form-control" id="ApplicationEmail1" placeholder="Enter email" required>
												</div>
												<div class="col">
													<label for="InputPhoneNumber"><b>Phone Number</b></label>
													<input type="tel" class="form-control" id="ApplicationPhoneNumber2" placeholder="Enter phone number" required>
												</div>
											</div>
											<div class="row pb-4">
												<div class="col">
													<label for="InputUniversity"><b>University</b></label>
													<select class="form-select" name="ApplicationUniversity" aria-label="Select University" text-muted required>
														<option selected disabled hidden>Select University</option>
														<option>National Technical University of Athens (NTUA)</option>
														<option>Aristotle University of Thessaloniki (AUTh)</option>
														<option>University of Patras (UoP)</option>
														<option>Technical University of Crete (TUC)</option>
														<option>University of Thessaly (UTh)</option>
													</select>

												</div>
												<div class="col">
													<label for="InputDepartment"><b>Department</b></label>
													<input type="text" class="form-control" id="ApplicationDepartment1" placeholder="Enter your Department" required>
												</div>
											</div>
											<button type="submit" class="btn btn-dark mb-5 mt-3">Submit</button>
										</form>
									
									</div>
								</div>
							</ul>
						{{/if}}
					{{/unless}}

					{{#if adminData}}
						<ul class="nav navbar-nav navbar-right dropdown">
							<div class="dropdown">
								<button class="btn btn-outline-light dropdown-toggle" type="button" id="myAdminButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Admin
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="myAdminDropdown">
										<a class="dropdown-item" href="#">Admin Panel</a>
										<a class="dropdown-item"href="/logout">Log Out</a>
									</div>
								</button>
							</div>
						</ul>
					{{/if}}

				</div>

			</div>
		</nav>
			
	</header>