/* ALL PAGES */

body{
    background-color: #F5F5F5;

}

/* --navigation-------------------------------- */
.navbar a {
    color:white;
}

.navbar {
    height: 6em;
    background-color: #3F3E40;
}


#navbarNav{
    justify-content: center;
    background-color: #3F3E40;
}

#navbarNav, #myLogIn{
    white-space: nowrap;
}

#navbarNav .dropdown-menu{
    background-color: #3F3E40;
}

.navbar .container-fluid{
    position: relative;
    top:0px;
}

#SDOlogo{
   width:100px;
   height:100px;
}



/* HOME PAGE */

.myRedText, .myIntro span{
    color: #850F0F;
}

/* --photo------------------------*/
#mainGroupPhoto{
    width: 100%;
    opacity: 0.5;
}

#myMainGroupPhotoContainer {
  text-align: center;
  position: relative;
}

#myMainGroupPhotoContainer .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #myMainGroupPhotoContainer #SDOlogoblack{
    width:25%;
    height:25%
  }

  #myMainGroupPhotoContainer #myIntroText1{
    font-size: 4vw; 
  } 

  #myMainGroupPhotoContainer #myIntroText2{
    font-size: 2.5vw; 
    white-space: nowrap;
  }

#groupPhoto2{
    width: 50%; 
}

/* --numbers------------------------> */

.myNumbers{
    background-color: #850F0F;
    color: #F5F5F5;
}

.myNumbersContainer{
    width: 50%;
    background-color: #D3BCBC;
}

/* ABOUT US  */


/* PARTNERS  */
.card{
    width: 10rem; 
    display: inline-block;
}

.card-body{
    background-color: #C1BCA0;
    text-align: center;
    border: black;
    border-radius: 30;
}

.myPartnersLogos{
    text-align: center;
}

.myPartnersText{
    font-size: 1rem;
}

@media (min-width: 992px) {  
    .myPartnersText {
        /* font-size:1.5rem; */
    } 
}






/* CONTACT  */
