@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


/* ALL PAGES */

.font-family-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.fs-20 {
  font-size: 20px;
}

body{
    background-color: #F5F5F5;   
}

.navbar a {
    color:white;
}

.navbar {
    height: 6em;
    background-color: #3F3E40;
}


#navbarNav{
    justify-content: center;
    background-color: #3F3E40;
}

#navbarNav, #myLogIn{
    white-space: nowrap;
}

#navbarNav .dropdown-menu{
    background-color: #3F3E40;
}

.navbar .container-fluid{
    position: relative;
    top:0px;
}

#SDOlogo{
   width:100px;
   height:100px;
}

.myFooter{
    background-color: #3F3E40; 
    height: 7em;
}


#myLoginModal, #mySignUpModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#myLoginModalContent, #mySignUpModalContent {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 10% auto;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* HOME PAGE */

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.myRedText, .myIntro span{
    color: #850F0F;
}

.myIntroInfo{
  animation-name: fade-in;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#mainGroupPhoto{
    width: 100%;
    opacity: 0.5;
}

#myMainGroupPhotoContainer {
  text-align: center;
  position: relative;
}

#myMainGroupPhotoContainer .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #myMainGroupPhotoContainer #SDOlogoblack{
    width:25%;
    height:25%
  }

  #myMainGroupPhotoContainer #myIntroText1{
    font-size: 4vw; 
  } 

  #myMainGroupPhotoContainer #myIntroText2{
    font-size: 2.5vw; 
    white-space: nowrap;
  }

#groupPhoto2{
    width: 60%; 
}

.myNumbersContainer{
  background-color: #D3BCBC;
  height: auto;
}

.myNumbers{
  background-color: #850F0F;
  color: #F5F5F5;
  font-size: 2vw;
}

/* ABOUT US  */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.myParagraph1{
    animation-name: slide-in-left;
    animation-duration: 1s;
    transform: translateX(-100%);
    animation-fill-mode: forwards;
}

.myParagraph2{
  animation-name: slide-in-right;
  animation-duration: 1.5s;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}

.myParagraph3{
  animation-name: slide-in-left;
  animation-duration: 2s;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}

.myParagraph4{
  animation-name: slide-in-right;
  animation-duration: 2.5s;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}

.myParagraph5{
  animation-name: slide-in-left;
  animation-duration: 3s;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}

.myHorizontalLine{
  width: 200px;
}

/* PARTNERS  */
.myPartnersText{
    font-size: 1rem;
}

.myPartnersLogos {
  display: flex;
  overflow-x: auto;
  cursor: pointer;
}

.myPartnersLogos .card {
  flex: 0 0 auto;
  width: 15rem;
  height: 12rem;
}

.myPartnersLogos .card-body {
  border: 1px black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.myPartnersLogos .card-img-top {
  max-width: 100%;
  max-height: 100%;
}

  .myPartnersLogos::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
    
  .photoScroll {
    overflow-x: scroll;
    white-space: nowrap;
    cursor: pointer;
}

.photoScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

/* CONTACT  */
.myContactInfo {
    background-color: #C1BCA0;
    text-align: center;
}

.myContactForm{
    max-width:600px;
    animation-name: fade-in;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* EVENTS  */


#ex-event1{
    width:100px;
    height:100px;
 }

 .btn-primary{
     background-color: #ffffff;
     color: #850F0F;
 }

 .card {
    width: 300px; 
    
  }

  .custom-img-size{
    height: 200px;
    object-fit: cover;
  }

  #text-to-click {
    color: rgb(78, 21, 21); 
    text-decoration: none; 
  }
 
  .modal { 
    position: fixed;
    margin-top: 200px; 

  }
  
  .modal-content{
    display: flex;
    align-items: center;
  }

  /* myPROFILE */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-item{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .myProfileData{
    background-color: #f9f9f9;
  }

  .myProfileData:focus {
    background-color:#C1BCA0;
    outline: none;
}