 <main class="font-family-roboto-condensed fs-20" >
            <div class="container">
                <h1 class="myMainHeader py-3 text-center"><b>S</b>tudents <b>D</b>eveloping <b>O</b>rganisation</h1>
                <div class="py-2 px-3">
                    <div class="myParagraph1">
                        <div class="d-flex align-items-center">
                            <h3 class="py-2 myRedText">WHAT IS SDO?</h3>
                            <div class="myHorizontalLine">
                                <hr class="flex-grow-1 border border-2 border-top border-danger ms-3">
                            </div>
                        </div>                          
                        <p class="pb-4">
                            SDO is a non-governmental, non-political, non-profit organisation. Our target group is STEM students from Greece. 
                        </p>
                    </div>
                    <div class="myParagraph2">
                        <div class="d-flex align-items-center me-5">
                            <div class="flex-grow-1"></div>
                            <div class="myHorizontalLine">
                                <hr class="hr flex-grow-1 border border-2 border-top border-danger me-3"/>
                            </div>
                            <h3 class="py-2 myRedText"> VISION </h3>
                        </div>
                        <p class="pb-4">
                            To empower STEM students and help them reach their full potential through educational travels, tech workshops and soft skills trainings.
                        </p>
                    </div>
                    <div class="myParagraph3">
                        <div class="d-flex align-items-center">
                            <h3 class="py-2 myRedText"> MISSION </h3>
                            <div class="myHorizontalLine">
                                <hr class="hr flex-grow-1 border border-2 border-top border-danger ms-3"/>
                            </div>
                        </div>
                        <p class="pb-4">
                            SDO creates opportunities for personal development of students and supports them in reaching their full potential.
                        </p>
                    </div>
                    <div class="myParagraph4">
                        <div class="d-flex align-items-center me-5">
                            <div class="flex-grow-1"></div>
                            <div class="myHorizontalLine">
                                <hr class="hr flex-grow-1 border border-2 border-top border-danger me-3"/>
                            </div>
                            <h3 class="py-2 myRedText"> HISTORY </h3>
                        </div>
                        <p class="pb-4">
                            SDO was first created in 2010 by 3 students interested in volunteering and sharing knowledge. Since then, SDO organises a lot of events that aim to develop students both in soft-skils and in hard-skills.
                        </p>
                    </div>
                   <div class="myParagraph5">
                        <div class="d-flex align-items-center">
                            <h3 class="py-2 myRedText">VALUES</h3>
                            <div class="myHorizontalLine">
                                <hr class="hr flex-grow-1 border border-2 border-top border-danger ms-3"/>
                            </div>
                        </div>
                        <ul>
                            <li>
                                teamwork
                            </li>
                            <li>
                                friendship
                            </li>
                            <li>
                                fun
                            </li>
                            <li>
                                learning
                            </li>
                        </ul>
                   </div>
                </div>

            </div>
        </main>