<main>
		<div class="container">
			<div class="row mt-5">
				<h3 class="myRedText pt-4"><b>Admin Panel</b></h3>
				<div>
					<h5 class="py-2">Pending Membership Requests <span class="badge bg-secondary rounded-pill">14</span></h5>
					<div class="border border-secondary rounded my-2 py-3 px-5" style="width:70%">
						<ol class="list-group list-group-numbered">
							<li class="list-group-item list-group-item-secondary">
								<div class="d-flex my-2 align-items-center">
									<div class="col-8">
										<ul class="list-inline">
											<li class="list-inline-item">Στέλλα</li>
											<li class="list-inline-item">Βλάσσση</li>
										</ul>
									</div>
									<div class="col-6">
										<button class="btn btn-dark py-1">Accept</button>
										<button class="btn btn-dark py-1">Reject</button>
									</div>
								</div>
							</li>
							<li class="list-group-item list-group-item-secondary">
								<div class="d-flex my-2 align-items-center">
									<div class="col-8">
										<ul class="list-inline">
											<li class="list-inline-item">Μαριλένα</li>
											<li class="list-inline-item">Μπουμπουκιώτη</li>
										</ul>
									</div>
									<div class="col-6">
										<button class="btn btn-dark py-1">Accept</button>
										<button class="btn btn-dark py-1">Reject</button>
									</div>
								</div>
							</li>	
						</ol>
						
					</div>
					
				</div>
				<div>
					<h5 class="mt-4 py-2">Pending Messages <span class="badge bg-secondary rounded-pill">14</span></h5>
					<div class="border border-secondary rounded my-2 py-3 px-5" style="width:70%">
						<div class="d-flex my-2">
								<div class="d-flex my-2 align-items-center">
									<ol class="list-group list-group-numbered">
										<li class="list-group-item list-group-item-secondary">
											<ul class="list-inline">
												<li class="list-inline-item">Στέλλα</li>
												<li class="list-inline-item">Βλάσσση</li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
										<button class="btn btn-dark">Answer</button>
										</li>
										
									</ol>
									

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>   
    </main>