<main>
        <div class="myContactForm container text-center border border-dark border-2 rounded-3 mt-5 mb-5">
			<div class="col mt-4">
				<h3>Feeling like getting in touch with us? 💬 <br> Contact us via filling the form below: </h3>
			</div>
			<form method="post" action="/contact/message-submitted">
				<div class="row py-4">
					<div class="col ">
						<input type="text" class="form-control myContactInfo" name="ContactName" placeholder="First name" required>
					</div>
					<div class="col">
						<input type="text" class="form-control myContactInfo" name="ContactSurname" placeholder="Last name" required>
					</div>
				</div>

				<div class="row pb-4">
					<div class="col">
						<input type="email" class="form-control myContactInfo" name="ContactEmail" placeholder="Email" required>
					</div>
				</div>

				<div class="row pb-4">
					<div class="col">
                        <textarea class="form-control myContactInfo" id="exampleFormControlTextarea1" name="Message" rows="3" placeholder="Message" required></textarea>
                    </div>
					
				  </div>
				{{#if adminData}}
					<button type="submit" class="btn btn-dark mb-3 disabled">Submit</button>
				{{else}}
					<button type="submit" class="btn btn-dark mb-3">Submit</button>
				{{/if}}

			  </form>
		</div>
    </main>