<main>
      <div class="container">
          <h3 class="myMainHeader py-3 text-center"><b>External Events</b></h3>
          
              <p class="pd-2">
                  <center>External events are a great opportunity for students who aren’t familiar with our organization and want to <b>get to know us better!</b>
                  Through your participation in such event, be sure that you will gain valuable skills, have fun and get to know many like-minded people.
                  <br>So what are you waiting for? Apply in as many actions as you wish from the list below:</center><br>
              </p>
              
              <div class="d-flex flex-wrap justify-content-between">
                <div class="card mb-4">
                  <img src="public/files/photos/ex-events1.jpeg" class="card-img-top custom-img-size" alt="External event 1">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>Motivational Weekend</b></h5>
                    <h6>Join us for a fantastic time!</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal5" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal5" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Motivational Weekend</h5>
                      </div>
                      <div class="modal-body">
                        <p>la la la la la la la la </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>
                

                <div class="card mb-4">
                  <img src="public/files/photos/ai-photo.jpeg" class="card-img-top custom-img-size" alt="External event 2">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>AI Intro</b></h5>
                    <h6>Interested in the world of AI?</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal6" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>

                  <div class="modal events-modals" id="myModal6" style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">AI Intro</h5>
                        </div>
                        <div class="modal-body">
                          <p>la la la la la la la la </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary">Apply</button>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="card mb-4">
                  <img src="public/files/photos/vr-image.jpeg" class="card-img-top custom-img-size" alt="External event 3">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>Virtual Reality Seminar</b></h5>
                    <h6>Learn the basics of VR!</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal7" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal7" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Virtual Reality Seminar</h5>
                      </div>
                      <div class="modal-body">
                        <p>la la la la la la la la </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card mb-4">
                  <img src="public/files/photos/planetarium.jpeg" class="card-img-top custom-img-size" alt="External event 4">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>Visit Planetarium</b></h5>
                    <h6>Are you fascinated by space?</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal8" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal8" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Visit Planetarium</h5>
                      </div>
                      <div class="modal-body">
                        <p>la la la la la la la la </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>            
            </div>
      </div>
  </main>