		
	<main>

		<!--photo------------------------>

		<div class="container" id="myMainGroupPhotoContainer">
			<img src="files\photos\mainimage.jpg" alt="group photo" id="mainGroupPhoto" >
			<div class="centered myIntroInfo">
				<h1 class="pt-lg-4 pb-lg-2 py-md-0" id="myIntroText1">Hey! <br>We are SDO...</h1>
				<img src="files\logos\dark.png" id="SDOlogoblack" alt="SDO logo" class="py-4">
				<h4 class="pt-lg-4 py-md-0" id="myIntroText2">a <b>S</b>tudents <b>D</b>eveloping <b>O</b>rganisation.</h4>
			</div>
		</div>

		<!--intro------------------------>
		<div class="myIntro container text-center">
			<div class="row">
				<div class="col mt-5">
					<h3 class="myRedText mt-4 fst-italic"><b>Welcome to our world!</b></h3>
					<img src="files\photos\image2.jpg" alt="image1" class="pt-3" id="groupPhoto2">
					<p class="mt-4 fs-5">We train. We educate. We <span>inspire</span> students.<br> We <span>create</span> the leaders of tomorrow.</p>
				</div>
			</div>
		</div>
		<script>
			const var1={{numberOfMembers}};
			const var2={{numberOfUniversities}};
			const var3={{numberOfEvents}};
		</script>
		<!--numbers------------------------>
		<div class="myNumbersContainer container-fluid text-center my-4 py-3 border rounded border-1" >
			<div class="row d-flex flex-nowrap">
				<div class="col-4 myNumbers list-inline-item border-0 rounded p-md-4 p-sm-3"><span id="myValue1"></span><br>members</div>
				<div class="col-4 myNumbers list-inline-item border-0 rounded p-md-4 p-sm-3" ><span id="myValue2"></span><br>universities</div>
				<div class="col-4 myNumbers list-inline-item border-0 rounded p-md-4 p-sm-3"><span id="myValue3">+</span><br>events</div>
			</div>

		</div>
	
		<!--form------------------------>
		<div class="myForm container text-center">
			<div class="col mt-5">
				<h2>Want to join us?</h2>
				<h6 class="fst-italic">Apply to become a member</h6>
			</div>
			<form method="GET" action="/home/submit-form">
				<div class="row py-4">
					<div class="col">
						<label for="InputName"><b>Name</b></label>
						<input type="text" class="form-control" id="ApplicationName" placeholder="Enter your Name">
					</div>
					<div class="col">
						<label for="InputSurname"><b>Surname</b></label>
						<input type="text" class="form-control" id="ApplicationSurname" placeholder="Enter your Surname">
					</div>
				</div>

				<div class="row pb-4">
					<div class="col">
						<label for="InputEmail"><b>Email address</b></label>
						<input type="email" class="form-control" id="ApplicationEmail" placeholder="Enter email">
					</div>
					<div class="col">
						<label for="InputPhoneNumber"><b>Phone Number</b></label>
						<input type="tel" class="form-control" id="ApplicationPhoneNumber" placeholder="Enter phone number">
					</div>
				</div>

				<div class="row pb-4">
					<div class="col">
						<label for="InputUniversity"><b>University</b></label>
						<select class="form-select" id="ApplicationUniversity" aria-label="Select University" text-muted>
							<option selected>Select University</option>
							<option>National Technical University of Athens (NTUA) </option>
							<option>Aristotle University of Thessaloniki (AUTh)</option>
							<option>University of Patras (UoP) </option>
							<option>Technical University of Crete (TUC)</option>
							<option>University of Thessaly (UTh) </option>
						</select>
					</div>

					<div class="col">
						<label for="InputDepartment"><b>Department</b></label>
						<input type="text" class="form-control" id="ApplicationDepartment" placeholder="Enter your Department (e.g. Physics)">
					</div>
					
				  </div>
				<button type="submit" class="btn btn-dark mb-5 mt-3">Submit</button>

			  </form>
		</div>

	</main>

