<main>
      <div class="container">
          <h3 class="myMainHeader py-3 text-center"><b>Internal Events</b></h3>
          
              <p class="pd-2">
                  <center>Internal events are available to all our members! It is a great opportunity to spend some <b>quality
                  time together</b>, bond and have fun.
                  <br><b>Login</b> and participate in the available options listed below:</center><br>
              </p>
              

              <div class="d-flex flex-wrap justify-content-between">
                <div class="card mb-4">
                  <img src="files/int-photos/meetup.jpeg" class="card-img-top custom-img-size" alt="Internal event 1">
                  <div class="card-body">  
                  <center>
                    <h5 class="card-title"><b>May Monthly Meetup</b></h5>
                    <h6>Join us for a fantastic time!</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal1" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a> 
                  </center> 
                  </div>
                </div>

                <div class="modal events-modals" id="myModal1" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">May Monthly Meetup</h5>
                      </div>
                      <div class="modal-body">
                        <p>🗓 Mark your calendars, for this <b>May Monthly Meetup</b> is destined to be a sensational rendezvous that will leave you spellbound!
                           On <b>May 30</b>, we have prepared an extraordinary gathering filled with joy and unforgettable memories. ✨
                           <br><br> 🤗 Embrace the vibrant spirit of togetherness as we embark on a magical journey of fun and bonding, full of activities designed to spark laughter and forge lifelong friendships. 
                           From thrilling team challenges and captivating performances to interactive workshops, our event promises an immersive experience like no other! 🔥
                          
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="card mb-4">
                  <img src="files/int-photos/paintball.jpeg" class="card-img-top custom-img-size" alt="Internal event 2">
                  <div class="card-body">
                  <center>  
                    <h5 class="card-title"><b>Paintball Tournament</b></h5>
                    <h6>SDO goes paintball-ing!</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal2" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal2" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Paintball Tournament</h5>
                      </div>
                      <div class="modal-body">
                        <p>🗣 Calling all adrenaline junkies and thrill-seekers! Brace yourselves for an exhilarating showdown at our upcoming <b>Paintball Tournament</b> on <b>June 3rd</b>. 
                          It's time to gear up, lock and load, and dive into the heart-pounding action of this epic battle. Unleash your strategic prowess, hone your teamwork skills
                          and experience the ultimate rush of paintball warfare! <br><br> Whether you're a seasoned pro or a first-time player, this tournament promises an adrenaline-fueled adventure like no other.
                          Prepare for intense battles, tactical maneuvers, and heart-stopping moments as you navigate through immersive battlegrounds.
                          So rally your squad, bring your A-game, and join us for a pulse-pounding showdown that will leave you breathless and craving more!<br><br>
                          <b>Are you up for the challenge?</b> Secure your spot today and let the paintball madness begin! 🔥</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card mb-4">
                  <img src="files/int-photos/board-games.jpeg" class="card-img-top custom-img-size" alt="Internal event 3">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>Board Games Night</b></h5>
                    <h6>Cozy vibes, friends \& Monopoly!</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal3" class="text-to-click"><b>see more....</b></a></p>
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal3" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Board Games Night</h5>
                      </div>
                      <div class="modal-body">
                        <p>🎲 Dust off your top hats, roll the dice, and get ready to embark on a thrilling journey at our <b>Board Games Night meetup</b> on <b>June 15th!</b> <br><br>
                          It's time to gather 'round the table and experience the timeless classic, Monopoly, along with a plethora of other exciting games. From building an empire on 
                          Park Place to negotiating epic deals on Boardwalk, Monopoly will transport you to a world where fortunes are made and rivalries are forged. <br><br> But that's not all! 
                          Our collection boasts a treasure trove of other engaging board games.
                          Whether you prefer brain-teasing puzzles, nail-biting strategy, or just a casual night of laughs, we've got something for everyone.<br><br> So bring your game face, unleash your competitive spirit 
                          and prepare for an evening of friendly rivalry, laughter, and unforgettable moments! 🥰
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card mb-4">
                  <img src="files/int-photos/Wine-Tasting.jpeg" class="card-img-top custom-img-size" alt="Internal event 4">
                  <div class="card-body">
                  <center>
                    <h5 class="card-title"><b>Wine Tasting Day</b></h5>
                    <h6>In the mood for wine?</h6>
                    <p class="card-text"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal4" class="text-to-click"><b>see more....</b></a></p>                      
                    <a href="#" class="btn btn-primary"><b>apply</b></a>
                  </center>
                  </div>
                </div>

                <div class="modal events-modals" id="myModal4" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Wine Tasting Day</h5>
                      </div>
                      <div class="modal-body">
                        <p>🍷 Indulge your senses in an evening of refined elegance and exquisite flavors at our <b>Wine Tasting Night</b>. 
                          Join us on a journey through the vineyards on <b>July 03</b>. Savor the rich aromas and delicate notes as you sample a carefully curated selection of wines 
                          from around the world. 
                          <br><br>💭 From crisp whites to full-bodied reds, each pour tells a unique story that will transport you to the picturesque landscapes where the grapes were grown! 
                          Our expert sommeliers will guide you through the nuances of each wine, sharing their knowledge and passion for the art of winemaking. 
                          <br><br>🥂 So raise your glass, mingle with fellow wine enthusiasts and let the velvety textures and flavors dance on your palate. Unwind, relax, and let the magic of the vineyards transport you to a world of taste and sophistication. 
                          </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>

            
              </div>
      </div>
  </main>