<main>
        <div class="mt-5 mx-4">
            <h3>Partners</h3>
        </div>

        <hr class="mx-4" >

        <div class="myPartnersLogos">
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\best.png" class="card-img-top" alt="BEST" >
                </div>
            </div>
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\EESTEC_Logo.png" class="card-img-top" alt="EESTEC" >
                </div>
            </div>
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\euroavia.png" class="card-img-top" alt="EUROAVIA" >
                </div>
            </div>
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\IEEE.png" class="card-img-top" alt="IEEE" >
                </div>
            </div>
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\esn.png" class="card-img-top" alt="ESN" >
                </div>
            </div>
            <div class="card border-dark my-3 ms-3">
                <div class="card-body">
                    <img src="files\partners-logos\AIESEC.png" class="card-img-top" alt="AIESEC" >
                </div>
            </div>
        </div> 

      
        <div class="px-3">
            <p class="fs-6 text-center"><i>
                Partnership is one of our greatest values. 
                <br> Our members are the next generation of professionals who, with their skills and knowledge, will be the ones supporting the companies in achieving their vision and goals. Would you like to have access to a network of passionate and highly skilled students?
                <br> You can partner with us!
            </i>

            </p>
        </div>
        <div class="m-4">
            <p class="fs-6 text-center">
                For business inquiries contact us at: <b>hello@sdo.org</b>
            </p>
        </div>

        <hr class="mx-4">

        <div class="mt-5 pb-3 mx-4">
            <h4>Meaningful Moments</h4>
        </div>

        <div class="container mb-5 pb-5">
            <div class="row align-items-center pt-3">
                <div class="col mx-3 photoScroll">
                    <img src="files\photos\partners\partnerphoto3.jpg" alt="image1" style="width: 90%">
                    <img src="files\photos\partners\partnerphoto2.jpg" alt="image2" style="width: 90%">
                    <img src="files\photos\partners\partnerphoto1.jpg" alt="image3" style="width: 90%">
                </div>
       
                <div class="myPartnersText col text-center mx-3" >
                    <p>
                        <br>We <b>value</b> our partners’ events as much as our own! Because of that, we always motivate our members to participate in them. Companies’ meetups, networking days, competitions and other NGOs’ events are only some of them!
                    </p>
                </div>
            </div>
        </div>


    </main>